* {
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2E4ABA;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-logo {
    width: 100%;
    display: flex;
    margin-top: 1vh;
    justify-content: center;
    background-color: #2E4ABA;
}

#logo {
    width: min(60vh, 50vw);
    max-width: 400px;
    filter: drop-shadow(0.2vh 0.2vh 0.4vh rgba(255, 255, 255, 0.5));
}

#window{
    width: 90%;
    height: auto;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upper-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timer {
    color: white;
    margin-left: 2vw;
    align-self: flex-start;
    font-size: min(2.0vh, 3.5vw);
    height: 3vh;
}

#quit{
    font-size: min(1.5vh, 3vw);
    align-self: flex-end;
    background-color: rgb(209, 209, 209);
    border: none;
    border-radius: 0.5vh;
    width: 20vw;
    height: 3vh;
}

#response-display{
    margin-top: 1vh;
    width: 100%;
    height: 36vh;
    background-color: #D9D9D9;
    text-align: left;
    padding-left: 1vw;
    border: 0.5vh solid black;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#main-owl{
    align-self: flex-end;
    margin-top: 5vh;
    width: 55%;
    max-width: 30vh;
    height: auto;
    max-height: 30vh;
}

#comments{
    position: relative;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
    height: 32vh;
    padding: 1vh 1vw;
    box-sizing: border-box;
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 1vh;
    -webkit-overflow-scrolling: touch; 

}

.question{
    font-size: min(1.6vh, 2.3vw);
    position: relative;
    background-color: white;
    width: 90%;
    border: none;
    border-radius: 1vh;
    padding: 1vh 1vw;
    margin: 1vh 0;
} 

.question::before{
    content: '';
    position: absolute;
    top: 30%;
    left: -1.4vw; 
    width: 0;
    height: 0;
    border-top: 1vw solid transparent;
    border-bottom: 1vw solid transparent;
    border-right: 1.5vw solid white; 
}

.response{
    font-size: min(1.6vh, 2.3vw);
    position: relative;
    background-color: #d4b58a;
    width: 90%;
    border: none;
    border-radius: 1vh;
    padding: 1vh 1vw;
    margin: 1vh 0;
} 

.response::before{
    content: '';
    position: absolute;
    top: 50%; 
    transform: translate(0, -50%);
    right: -1.1vh; 
    width: 0;
    height: 0;
    border-top: 1.8vh solid transparent;
    border-bottom: 1.8vh solid transparent;
    border-left: 2.0vh solid #d4b58a; 
}

#buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0;
    gap: 5vh;
}

#question-button{
    font-size: min(2.5vh, 4vw);
    width: 70%;
    padding: 2vh 2vw;
    border: none;
    border-radius: 1vh;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.5);
    background-color: white;
    
}

#answer-button{
    font-size: min(2.5vh, 4vw);
    width: 70%;
    padding: 2vh 2vw;
    border: none;
    border-radius: 1vh;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.5);
    background-color: white;
}

#question-form{
    color: white;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#question-text{
    font-size: 2vh;
}

#question-input{
    text-align: center;
    font-size: max(min(2vh, 3vw), 24px);
    margin-top: 4vh;
    padding: 1vh 1vw;
    width: 60%;
    height: 5vh;
    border: 0.25vh solid black;
    border-radius: 1vh;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.5);
}

#question-confirmed{
    margin-top: 4vh;
    font-size: 2vh;
    padding: 0.5vh 3vw;
    border: none;
    border-radius: 0.5vh;
    background-color: rgb(221, 223, 108);
}

#question-back{
    margin-top: 7vh;
    font-size: 2vh;
    padding: 0.5vh 3vw;
    border: none;
    border-radius: 0.5vh;
    background-color: aliceblue;
}

.loading span {
    animation: blink 1.5s infinite;
    opacity: 0;
}

.loading span:nth-child(1) {
    animation-delay: 0s;
}
.loading span:nth-child(2) {
    animation-delay: 0.3s;
}
.loading span:nth-child(3) {
    animation-delay: 0.6s;
}
.loading span:nth-child(4) {
    animation-delay: 0.9s;
}
.loading span:nth-child(5) {
    animation-delay: 1.2s;
}

.loading2 span {
    animation: blink 1.5s infinite;
    opacity: 0;
}

.loading2 span:nth-child(1) {
    animation-delay: 0s;
}
.loading2 span:nth-child(2) {
    animation-delay: 0.3s;
}
.loading2 span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

#answer-form{
    color: white;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#answer-text{
    font-size: 2vh;
}

#answer-input{
    text-align: center;
    font-size: max(min(2vh, 3vw), 24px);
    margin-top: 4vh;
    padding: 1vh 1vw;
    width: 60%;
    height: 5vh;
    border: 0.25vh solid black;
    border-radius: 1vh;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.5);
}

#answer-confirmed{
    margin-top: 4vh;
    font-size: 2vh;
    padding: 0.5vh 3vw;
    border: none;
    border-radius: 0.5vh;
    background-color: rgb(223, 71, 71);
}

#answer-back{
    margin-top: 7vh;
    font-size: 2vh;
    padding: 0.5vh 3vw;
    border: none;
    border-radius: 0.5vh;
    background-color: aliceblue;
}

#check-answer-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

#check-answer-text1{
    font-size: min(3vw, 2vh);
    align-self: flex-start;
}

#check-answer-text2{
    font-size: min(7vw, 5vh);
    align-self: center;
}

#check-answer-text3{
    font-size: min(3vw, 2vh);
    align-self: flex-end;
}

#result{
    color: white;
    margin-top: 5vh;
    font-size: min(2.5vh, 4vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    background-color: #435bbb;
    padding: 5vh 10vw;
    border: none;
    border-radius: 1vh;
}

#final-answer{
    font-size: min(2vh, 3vw);
}

#SorF{
    font-size: min(4vh, 6.5vw);
}

#finish-button{
    font-size: min(2vh, 3vw);
    padding: 0.5vh 5vw;
    border: none;
    border-radius: 0.5vh;
    background-color: rgb(253, 255, 225);
}

#loading3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 1;
    visibility: visible;
    box-sizing: border-box;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-move-2 {
    --size: 5vh;
    --color: currentColor;
    --animation-timing-function: linear;
    --animation-duration: 1.5s;
    position: relative;
    width: var(--size);
    height: var(--size);
}

.square-move-2::before,
.square-move-2::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--color);
}

.square-move-2::before {
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    animation: var(--animation-timing-function) var(--animation-duration) infinite square-move-2-animation-before;
}

.square-move-2::after {
    right: 0;
    bottom: 0;
    transform: translate(0%, 0%);
    animation: var(--animation-timing-function) var(--animation-duration) infinite square-move-2-animation-after;
}

@keyframes square-move-2-animation-before {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(100%, 0%);
    }
    50% {
        transform: translate(100%, 100%);
    }
    75% {
        transform: translate(0%, 100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes square-move-2-animation-after {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(-100%, 0%);
    }
    50% {
        transform: translate(-100%, -100%);
    }
    75% {
        transform: translate(0%, -100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

button{
    color: black;
}
