* {
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2E4ABA;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title{
    margin: 3vh 0;
    width: 80%;
    max-width: 400px;
    filter: drop-shadow(0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.5));
}

#owl{
    width: 70%;
    max-width: 400px;
    border:double 1vh black;
    background-color: #4e64bc;
}

#start-button{
    font-family: 'Raleway', sans-serif;
    font-size: min(3.5vh, 6vw);
    margin-top: 5vh;
    background-color: rgb(253, 255, 225);
    border: none;
    border-radius: 1vh;
    padding: 0.5vh 5vw;
    box-shadow: 0 1vh 1vh black;
}
